@charset "UTF-8";

*{   /* Configurações Globais da CSS */
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #5AA854,#78F56E);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4888448a;
}
h1{
    color: #F57462;
    text-align: center;
    text-shadow: 1px 1px 2px #a24c4188;
}

h2{
    color: #32A0A8;;
}
p{
    text-align: justify;
}